<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
username :
<input type="text" id="create_tbuser_username" />
password :
<input type="text" id="create_tbuser_password" />

<button onclick="create_tbuser()">create</button>
<a href="/tbuser/mlist">link to Scroll list</a>

<script>
    function create_tbuser(){
        $.ajax({
            url: "/api/tbuser",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                username : $("#create_tbuser_username").val()
                ,password : $("#create_tbuser_password").val()
            }),
            cache: false,
            success: (data, status, xhr)=>{
                alert("success!!");
                //alert(JSON.stringify(data));
            },
            error: (data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(data));
            }
        });
    }
</script>

</body>
</html>