<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<p>username : </p>
<input type="text" id="create_tbuser_username" />
<p>password : </p>
<input type="text" id="create_tbuser_password" />

<button onclick="create_tbuser()">create</button>
<a href="/tbuser/mlist">link to Scroll list</a>
<!--input 태그는 신음.. type = text, email, Id 등등 들어갈 수 있음. a 태그는 하이퍼링크-->


</body>
</html>